:root {
  --background: #fdfdfd;
  --primary: #007eff;
  --secondary: #222222;
  --highlight: #ffffff;
  --border: #000000;
  --invalid: #ff0000;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Rubik", Calibri, sans-serif;
}

img {
  width: 150px;
  height: 150px;
}

#profile_pic {
  width: 20%;
  height: 20%;
  min-width: 80px;
  min-height: 80px;
}

#recipe_img {
  width: 40%;
  height: 40%;
}

h1 {
  color: var(--secondary);
}

h2 {
  color: var(--secondary);
}

h3 {
  color: var(--secondary);
  padding: 0px;
  margin: 10px;
}

.error {
  color: var(--invalid);
}

nav {
  background-color: var(--primary);
  width: 100%;
  box-sizing: border-box;
  height: 5%;	
  min-height: 45px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  flex: 1;
  text-align: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--highlight);
}

a.current {
  font-weight: bold;
  color: var(--highlight);
}

#logout {
  color: var(--invalid);
}

#logout:hover {
  color: var(--highlight);
}

#recipe_info {
  color: var(--invalid);
}

#navbar_list {
  flex: 4;
}

#space_li {
  flex: 5;
}

textarea {
  resize: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#explore_li {
  flex: 2;
}

.vertical-flexbox {
  flex-direction: column;  
}

input, select, textarea {
  margin-bottom: 10px;
}

.invalid_input {
  color: var(--invalid);
  font-size: 12px;
}

button, .button {
  color: var(--secondary);
  background-color: var(--primary);
  border-color: var(--secondary);
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
}

.container {
  flex: 1;
}
